node_modules
.idea
.DS_Store
/nbproject/private/
modulelogs
analytics
*.log
log
npm-debug.log
package-lock.json
public/minifiedFiles
unit_test_cases/mochawesome-report
mochawesome-report
.vscode
/.vscode/launch.json 
/.vscode
seleniumlogs
audio_*.wav
audio_*.mp4
video_*.mp4
chromedriver.exe
startSharingErrorScreenshot.png
stopSharingErrorScreenshot.png
recording.mp4
coverage
test-report.xml
